version: '3.8'

services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: booking
    ports:
      - "5432:5432"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  jaeger:
    image: jaegertracing/all-in-one:1.51
    ports:
      - "16686:16686"
      - "4318:4318"

  booking-service:
    build: ./booking-service
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - rabbitmq
      - jaeger
    environment:
      SERVICE_NAME: booking-service
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4318/v1/traces
      DB_HOST: postgres
      RABBITMQ_HOST: rabbitmq

  payment-service:
    build: ./payment-service
    depends_on:
      - rabbitmq
      - jaeger
    environment:
      SERVICE_NAME: payment-service
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4318/v1/traces
      RABBITMQ_HOST: rabbitmq

  notification-service:
    build: ./notification-service
    depends_on:
      - rabbitmq
      - jaeger
    environment:
      SERVICE_NAME: notification-service
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4318/v1/traces
      RABBITMQ_HOST: rabbitmq