apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: node-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: node-app
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
  # behavior:
  #  scaleDown:
  #     stabilizationWindowSeconds: 30
  #     policies:
  #     - type: Percent
  #       value: 50
  #       periodSeconds: 15