apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
        - name: node-app
          image: node-k8s-demo:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
          env:
            - name: APP_ENV
              valueFrom:
                configMapKeyRef:
                  name: node-app-config
                  key: APP_ENV
            - name: MESSAGE
              valueFrom:
                configMapKeyRef:
                  name: node-app-config
                  key: MESSAGE
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: node-app-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: node-app-secret
                  key: DB_PASSWORD
          resources:
            requests:
              cpu: "100m"
              memory: "64Mi"
            limits:
              cpu: "500m"
              memory: "128Mi"